<!--BOf container-->
<aside class="sidebar">
  <div class="nav-side-menu">
    <!--<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>-->
    <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out">
        <li> <a class="" [routerLink]="['/']"> <i class="icon-01"></i> Home </a> </li>
        <li> <!--<a href="javascript:void(0)"><i class="icon-02"></i> Environmental Settings</a>--> </li>
        <!--<ul class="sub-menu collapse" id="products">
          <li><a class="active" href="../environmental-controls.html">Environmental Controls</a></li>
          <li><a href="javascript:void(0)">Environmental Analytics</a></li>
          <li><a href="javascript:void(0)">Space Schedules</a></li>
          <li><a href="javascript:void(0)">Space Utilization</a></li>
        </ul>-->
        <!--<li> <a href="javascript:void(0)"><i class="icon-03"></i> Amenity Management</a> </li>
        <li> <a href="javascript:void(0)"> <i class="icon-05"></i> Service Requests </a> </li>
        <li> <a href="javascript:void(0)"> <i class="icon-06"></i> Documents </a> </li>-->
        <li> <a [routerLink]="['/user']"> <i class="icon-04"></i>User Management </a> </li>
        <li> <a [routerLink]="['/profile']"> <i class="icon-07"></i> My Profile </a> </li>
        <li> <a [routerLink]="['/login']" (click)="logOut()"> <i class="icon-08"></i> Logout </a> </li>
        <!--<ul class="sub-menu collapse" id="service">
          <li><a href="javascript:void(0)">Fitness Center</a></li>
          <li><a href="javascript:void(0)">Space Booking</a></li>
        </ul>-->
        <!--<li data-toggle="collapse" data-target="#new" class="collapsed"> <a href="javascript:void(0)"><i class="icon-04"></i> User Management <span class="arrow"></span></a> </li>
        <ul class="sub-menu collapse" id="new">
          <li><a href="javascript:void(0)">Tenant Management</a></li>
          <li><a href="javascript:void(0)">Visitor Management</a></li>
        </ul>
        <li> <a href="javascript:void(0)"> <i class="icon-05"></i> Service Requests </a> </li>
        <li> <a href="javascript:void(0)"> <i class="icon-06"></i> Documents </a> </li>
        <li> <a href="javascript:void(0)"> <i class="icon-07"></i> My Profile </a> </li>
        <li> <a href="../login.html"> <i class="icon-08"></i> Logout </a> </li>-->
      </ul>
    </div>
  </div>
</aside>

<!--<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">WebApplication2</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/building']">
                        <span class='glyphicon glyphicon-th-list'></span> Building
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>-->
