@charset "utf-8";
/* CSS Document */
/* #Pen-specific styles
================================================== */
.inner-body{background-color:#f2f2f2;}
header{background-color:#fff;}
/* #Typography
================================================== */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-weight: inherit; }
h2{color:#000000;}
.head{color:#665b5a;}
/* #Links
================================================== */
a, a:visited {color:#000;}
a:hover, a:focus {color: #000;}
.fade.show{background-color:rgba(0, 0, 0, 0.3);}
/* #BOF Login Pages
================================================== */
#hef-login-wrap {
  background-color: #fff;
}
.login-form-wrap h1 span{color:#b6b4b4;}
.login-form-wrap h2{color:#455fa9;}
.login-form-wrap h2 span{color:#665b5a;}
.login-form .field-row label{color:#b6b4b4;}
.login-form .field-row .input-field a.forgot-link{color:#455fa9;}

.login-form .field-row .input-field input{border-color:#bbbaba;color:#3c4c5a;}
.login-form .field-row .input-field input:focus{background:none;border-color:#869ed6;color:#3c4c5a;}

.login-form .field-row .input-field input::-webkit-input-placeholder {color:#3c4c5a;}
.login-form .field-row .input-field input::-moz-placeholder {color: #3c4c5a;}
.login-form .field-row .input-field input:-ms-input-placeholder {color: #3c4c5a;}
.login-form .field-row .input-field input:-moz-placeholder {color: #3c4c5a;}



.login-form .fp-link:hover{color:#fff;}
.mobile-drop ul li > a:hover, .mobile-drop ul li > a:focus { color:#0894CB;}
.keep-open .right-drop {left:auto;right:0;float:right; background: #3d4c5a none repeat scroll 0 0;}
.keep-open .right-drop .panel-heading .panel-title a { color:#cacaca;}
.keep-open .right-drop .panel .panel-collapse ul li a { color:#cacaca;}
.compny-text-jbc{color:#821e47;}
/* #EOF Login Pages
================================================== */
/* #BOF CheckBox
================================================== */
.check-box input[type=checkbox].css-checkbox:checked + label.css-label{background-image:url(../images/checkbox-checked.svg);}
.lite-green-check{background-image:url(../images/checkbox.svg);}
.check-box input[type=checkbox].css-checkbox.med:checked + label.css-label.med{background-image:url(../images/checkbox-checked.svg);}
.check-box input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{background-position:0 -20px;}
/* #EOF CheckBox
================================================== */
/* #BOF Button
================================================== */
.btn-primary{color:#fff;background-color:#869ed6;}
.btn-primary:hover{background-color:#3c4c5a;color:#fff;}
.btn-sm{}


/* #EOF Button
================================================== */

/* #BOF Header
================================================== */
.head-left h1 img.logo151{border-color:#cccccc;}
.head-left h1 span.jbc-logo b{color:#821e47;}
.head-left h1 span.jbc-logo b i{color:#231f20;}
.head-right ul li a{color:#b6b4b4;}
.head-right ul li.navigations a span{background-color:#ff3232;color:#fff;}
/* #EOF Header
================================================== */

/* #BOF Sidebar
================================================== */
.sidebar{background-color:#6982bc;background-image:url(../images/sidebar-bg.jpg);}
.menu-list ul.menu-content li a{color:#d5def4;}
.menu-list ul.menu-content li a i{background-image:url(../images/nav-icons.svg);}
/*.menu-list ul.menu-content ul.sub-menu li a:hover{background-color:#6982bc !important;}*/
.menu-list ul.menu-content ul.sub-menu li a:hover{background-color:#5e75a9;}
/**Hover**/
.menu-list ul.menu-content li a:hover, .menu-list ul.menu-content li a.active{color:#fff;background-color:#5e75a9;}
/**/
.menu-list ul.menu-content li[aria-expanded="true"] a{background-color:#5e75a9;}
.menu-list ul.menu-content ul.sub-menu.collapse.show{background-color:#5e75a9;}

/* #BOF 
================================================== */
.page-head h1{color:#812046;}
/**/
.breadcrumb li a{color:#812046;}
/**/
.db-box-elec{background-color:#6acad8;color:#fff;}
.db-box-temp{background-color:#ec9d9c;color:#fff;}
.db-box-humi{background-color:#fdb375;color:#fff;}
.db-box-CO2{background-color:#4db2e4;color:#fff;}
/**/
.white-box{background-color:#fff;}
.white-box .box-head{border-color:#e2e2e2;}
.white-box .box-head.event-head{background-color:#779cb2;}
.white-box .box-head.event-head h1{color:#fff;}
.white-box .box-head h1{color:#812046;}
.white-box .box-head .box-head-right .sortby label{color:#b6b4b4;}
.white-box .box-head .box-head-right .sortby .dropdown .dropdown-toggle{color:#455fa9;}
.white-box .box-head .box-head-right .sortby .dropdown .dropdown-menu ul li a:hover{background-color:#6982bc;color:#fff;}
.white-box .box-footer{border-color:#e2e2e2;}
ul.select-view li a{border-color:#b6b4b4;color:#b6b4b4}
ul.select-view li a:hover, ul.select-view li a.active{background-color:#5e75a9;border-color:#5e75a9;color:#fff;}
/**/
.occupied-area-box.box-border{border-color:#e2e2e2;}
.occupied-area-box .perc{color:#000 !important;}

/************/
.upcom-schedule ul li{border-color:#e2e2e2;}
.upcom-schedule ul li a{color:#812046;}
.upcom-schedule ul li a span{color:#665b5a;}
.upcom-schedule ul li label{color:#fff;}
.upcom-schedule ul li label.green{background-color:#87b55a;}
.upcom-schedule ul li label.orenge{background-color:#f2b27e;}

/************/
ul.list-news-events li{border-color:#e2e2e2;}
.box-new-events.announcement span{background-color:#99c3af;}
.box-new-events.events span{background-color:#52baef;}
.box-new-events.special span{background-color:#869ed6;}
.box-new-events p{color:#256082 !important;}
.box-new-events a{color:#256082 !important;}


/********/
ul.box-meetings-booked li{background-color:#a0bac9;}
ul.box-meetings-booked li span{color:#fff;}
ul.box-meetings-booked li label{color:#fff;}


/***/
.rate-chart .chart-row .chart-call label{color:#812046;}
.rate-chart .chart-row .chart-call p{background-color:#e2e2e2;}
.rate-chart .chart-row .chart-call p b{background-color:#4b9700;color:#fff;}
.rate-chart .chart-row .chart-call p i{background-color:#4b9700;}
/****/
/*************/
.view-map-zones{background-color:#cccbcb;}
.view-map-zones ul li select{background-color:#fff;border-color:#bbbaba;background-image:url(../images/select-down-arrow.svg);}
.view-map-zones ul li a.link{background-image:url(../images/icon-globe.svg);color:#fff;}

/*************/
.barfiller{background:#e2e2e2;}
.barfiller .fill{background:#333;}
.barfiller .tip{color:#fff;}
.barfiller .tip:after{border-color:#4b9700 transparent;}
.barfiller .tip.color-01{background:#4b9700;}
.barfiller .tip.color-02{background:#fc923b;}
.barfiller .tip.color-03{background:#e47372;}

.barfiller .tip.color-01:after{border-color:#4b9700 transparent;}
.barfiller .tip.color-02:after{border-color:#fc923b transparent;}
.barfiller .tip.color-03:after{border-color:#e47372 transparent;}
/****/
.controls-pross.right-border{border-color:#e2e2e2;}
.controls-pross ul li label{color:#812046;}
.controls-pross ul li .left-num{color:#665b5a;}
.controls-pross ul li .right-num{color:#665b5a;}
/*********/
.power-section ul.power-list li{border-color:#e2e2e2;}
/********/
.form-field label{color:#b6b4b4;}
.form-field .select-field select{background-color:#fff;border-color:#bbbaba;background-image:url(../images/select-down-arrow.svg);}
.form-field .input-field input{background-color:#fff;border-color:#bbbaba;}
.form-field .upload-pic{background-color:#fff;border-color:#bbbaba;}
.textarea-field textarea{background-color:#fff;border-color:#bbbaba;}
.input-tag-field input{background-color:#fff;border-color:#bbbaba;}
.input-tag-email-field input{background-color:#fff;border-color:#bbbaba;}
.form-field .input-field input:focus, .form-field .select-field select:focus, .textarea-field textarea:focus, .input-tag-field input:focus, .input-tag-email-field input:focus, .upload-field input:focus
{border-color:#80bdff;}
/***/
.ups-call span{background-image:url(../images/ups-bg.svg);color:#fff;}
.ups-call p{background-color:#87b55a;color:#fff;}
.ups-call label{color:#812046;}
/****power-strip-call***/
.power-strip-call span{background-image:url(../images/power-strip-bg.svg);color:#fff;}
.power-strip-call p{background-color:#87b55a;color:#fff;}
.power-strip-call label{color:#812046;}
/***/
.shades-filter{background-color:#f9f9f9;border-color:#e2e2e2;}
.building-brand{background-color:#96b7ca;}
.GaugeMeter SPAN, .GaugeMeter B{color:#000;}
.GaugeMeter B{color:#000;}
/*****/
.filter-box .filter-head{background-color:#b6b4b4;}
.filter-box .filter-head h2{color:#fff;}
.filter-box .filter-body{border-color:#b6b4b4;}
/** BOF Table **/
.table thead tr th{background-color:#f9f9f9;}
.table thead tr th a.search-link{float:right;color:#cbcbcb;}
.table tbody tr td{font-size:14px;color:#797979;}
.table tbody tr td a.table-link{color:#455fa9;}
.table tbody tr:nth-child(2n){background-color:#f7fafc;}
.table tbody tr td a.green-text{color:#4b9700;}
.table tbody tr td a.red-text{color:#ff0000;}
.table tbody tr td a.gray-text{color:#797979;}
.table tbody tr td a.blue-text{color:#869ed6;}


.green-text{color:#4b9700;}
.red-text{color:#ff0000;}
.gray-text{color:#797979;}
/** EOF Table **/
/****/
ul.custom-tabs li{background-color:#fff;}
ul.custom-tabs li a.active{background-color:#869ed6 !important;}
ul.custom-tabs li a{border-color:#869ed6;color:#869ed6;}
/***/
.space-occupancy-filter{background-color:#cccbcb;}
.space-occupancy-filter ul li label{color:#665b5a;}
.space-occupancy-filter ul li select{background-color:#fff;border-color:#bbbaba;background-image:url(../images/select-down-arrow.svg);}
.space-occupancy-filter ul li a.link{background-image:url(../images/icon-globe.svg);color:#fff;}
.space-filter ul li .form-field-datetime label{color:#665b5a;}
.space-filter ul li .form-field-datetime .field-datetaime .date-field input{border-color:#bbbaba;}
.space-filter ul li .form-field-datetime .field-datetaime .time-field select{background-color:#fff;border-color:#bbbaba;background-image:url(../images/select-down-arrow.svg);}
/**/
.user-info-box.orange-color{background-color:#fdb375;}
.user-info-box.blue-color{background-color:#4db2e4;}
.user-info-box .total-text{background-image:url(../images/icon-users.svg);color:#fff;}
.user-info-box .total-num{color:#fff;}
/*****/
.capacity-box.color-01{background-color:#ec9d9c;}
.capacity-box.color-02{background-color:#fdb375;}
.capacity-box label{color:#fff;}
.capacity-box span{color:#fff;}

/**/
ul.select-sports-list{background-color:#f9f9f9;border-color:#e2e2e2;}
ul.select-sports-list li a{background-color:#f2f2f2;border-color:#d9d9d9;color:#665b5a;}
ul.select-sports-list li.alloted a{background-color:#b6b4b4;border-color:#b6b4b4;color:#fff;}
ul.select-sports-list li.selection a{background-color:#95c367;border-color:#95c367;color:#fff;}
/**/
.select-sports-info ul.name-sports li{color:#665b5a;}
.select-sports-info ul.name-sports li span{background-color:#f2f2f2;border-color:#d9d9d9;color:#665b5a;}
.select-sports-info ul.name-sports li span.alloted{background-color:#b6b4b4;border-color:#b6b4b4;color:#fff;}
.select-sports-info ul.name-sports li span.selection{background-color:#95c367;border-color:#95c367;color:#fff;}
.select-sports-info ul.num-status li span{background-color:#f2f2f2;border-color:#d9d9d9;color:#665b5a;}
.select-sports-info ul.num-status li span.alloted{background-color:#b6b4b4;border-color:#b6b4b4;color:#fff;}
.select-sports-info ul.num-status li span.selection{background-color:#95c367;border-color:#95c367;color:#fff;}


/****/
.modal .modal-title{color:#812046;}
.select {border:0;}
.styledSelect {background-color: rgba(0, 0, 0, 0); color:#797979;}
.styledSelect:after {border:5px solid transparent;border-color:#c8cd97 transparent transparent transparent;}
.styledSelect:active, .styledSelect.active{background-color:rgba(0, 0, 0, 0);}
/****/
.fitness-center{}
.fitness-center h3{color:#812046;}
.fitness-center h4{color:#455fa9;}
.fitness-center p{color:#665b5a;}
.fitness-center ul.list li{background-image:url(../images/icon-round-with-tick.svg);color:#808080;}

/****/
ul.classes-tabs li a{border-color:#e2e2e2 !important;color:#b6b4b4 !important;}
ul.classes-tabs li a.active{border-color:#869ed6 !important;color:#869ed6 !important;}
/***/
.calender-wrap{border-color:#b6b4b4;}
.calender-wrap table thead tr th{color:#665b5a;}
.calender-wrap table tbody tr td{color:#665b5a;}
.calender-wrap table tbody tr td a:hover{background-color:#a2afd4;color:#fff;}
.calender-wrap table tbody tr td.other-date a{color:#d1cece;}
.calender-wrap table tbody tr td.selected a{background-color:#a2afd4;color:#fff;}
/******/
.list-of-class h3{color:#455fa9;}
.list-of-class ul li{border-color:#e2e2e2;}
.list-box h4{color:#665b5a;}
.list-box h4 span{background-color:#81b64c;color:#fff;}
.list-box .trainer label{color:#665b5a;}
.list-box .trainer span{color:#665b5a;}
.list-box .location label{color:#665b5a;}
.list-box .location span{color:#665b5a;}
.list-box .description label{color:#665b5a;}
.list-box .description span{color:#665b5a;}
.list-box a.joinnow{background-color:#869ed6;color:#fff;}

/****/
ul.booking-tabs li a{color:#b6b4b4;}
ul.booking-tabs li a.active{color:#455fa9 !important;border-color:#455fa9 !important;}
/***/
.amenities-details-box{border-color:#e2e2e2;}
.amenities-details-box:hover{background-color:#f8f8f8;}
.amenities-details-box h3{color:#812046;}
.amenities-details-box h3 a{color:#812046;}
.amenities-details-box h3 a:hover{color:#869ed6}
.amenities-details-box h3 span{background-color:#93c166;color:#fff;}
.amenities-details-box .date-time{background-image:url(../images/icon-date.svg);color:#869ed6;}
.amenities-details-box .location{background-image:url(../images/icon-location.svg);color:#665b5a;}
ul.num-of-amenities li span{background-image:url(../images/icon-amenities.png);}
ul.num-of-amenities li b{background-color:#e8e8e8;color:#665b5a;}
.form-field label{color:#b6b4b4;}
.field-date input{border-color:#bbbaba;}
.field-time select{background-color:#fff;border-color:#bbbaba;background-image:url(../images/select-down-arrow.svg);}
.form-field .fency-select-field select{background-color:#fff;border-color:#bbbaba;background-image:url(../images/select-down-arrow.svg);color:#455fa9;}
.upload-field input{border-color:#bbbaba;}

/*********/
ul.my-request-list li{border-color:#e2e2e2;}
.my-request-box .box-left.open{border-color:#fc923b;}
.my-request-box .box-left.assigned{border-color:#0190d9;}
.my-request-box .box-left.closed{border-color:#4b9700;}

.my-request-box h3{color:#812046;}
.my-request-box h3 a{color:#812046;}
.my-request-box h3 span{color:#455fa9;border-color:#bbbaba;}
.my-request-box p{color:#869ed6;}
.my-request-box p span{color:#665b5a;}
.my-request-box ul.box-right-action li a.date{background-image:url(../images/icon-date.svg);}
.my-request-box ul.box-right-action li a.edit{background-image:url(../images/icon-edit.svg);color:#4b9700;}
.my-request-box ul.box-right-action li a.delete{background-image:url(../images/icon-delete.svg);color:#ff0000;}
.my-request-box a.right-arrow-action{background-image:url(../images/icon-right-arrow.svg);}
ul.label-list li span.open i{color:#fc923b;}
ul.label-list li span.assigned i{color:#0190d9;}
ul.label-list li span.closed i{color:#4b9700;}

/***/
.checkbox-access span{color:#b6b4b4;}
/***/
.list-of-access thead{background-color:#f2f2f2;}
.list-of-access thead tr th{color:#665b5a;}
.list-of-access tbody tr td{color:#b6b4b4;border-color:#f2f2f2;}
/***/
.add-building-info{border-color:#bbbaba;}
.features-building{border-color:#bbbaba;}
/**/
ul.list-of-tags li{background-color:#e7e7e7;border-color:#bbbaba;}
ul.list-of-tags li span{color:#665b5a;}
/***/
.building-name{border-color:#bbbaba;}
.building-name h2{color:#812046;}
.building-name h2 span{color:#fff;background-color:#81b64c;}
.building-name p{color:#665b5a;}
.building-info{border-color:#bbbaba;}
.building-info ul li label{color:#444444;}
.building-info ul li span{color:#797979;}
.tenant-details{border-color:#bbbaba;}
.tenant-details h2{color:#812046;}
.tenant-details h2 span{color:#fff;background-color:#81b64c;}
.tenant-details p{color:#665b5a;}

.tenant-info ul li label{color:#444444;}
.tenant-info ul li span{color:#797979;}
.or-divider span{background-color:#e2e2e2;}
.or-divider p{background-color:#fff;color:#665b5a;border-color:#e2e2e2;}
ul.list-day-select li a{color:#665b5a;background-color:#f2f2f2;border-color:#d9d9d9;border-style:solid;border-width:1px;border-radius:5px;font-size:12px;display:block;text-align:center;padding:8px 0;text-decoration:none;}
ul.list-day-select li a:hover{color:#fff;background-color:#95c367;border-color:#95c367;}
.disabled-section .overlay{background-color:rgba(255, 255, 255, 0.6);}

.only-or{background-color:#fff;color:#665b5a;border-color:#e2e2e2;}
