<form [formGroup]="forgotPassword" (ngSubmit)="submit()" novalidate>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Forgot Password</h5>
        <button type="button" class="dismiss" data-dismiss="modal">
          <img src="assets/images/close-icon.png" alt="Dismiss Modal" 
          (click)="close()"></button>

      </div>
      <div class="modal-body p-3">
        <div class="features-building1">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <p class="pb-4">In order to receive your access code on email, 
                    please enter the address you provided during the 
                    registration process.</p>
                </div>
                <div class="col-sm-12">
                  <div class="form-field"  
                  [ngClass]="{ 'has-danger': (forgotPassword.controls.EmailAddress?.invalid 
                            && (forgotPassword.controls.EmailAddress?.dirty 
                            || forgotPassword.controls.EmailAddress?.touched)) 
                            || (forgotPassword.controls.EmailAddress?.untouched
                            && formSubmitAttempt)}">
                    <label>Email Address</label>
                    <div class="input-field">
                      <input type="text" placeholder="Email Address" 
                      name="EmailAddress" formControlName="EmailAddress"/>
                      <div class="form-control-feedback has-danger" 
                      *ngIf="(forgotPassword.controls.EmailAddress?.invalid 
                            && (forgotPassword.controls.EmailAddress?.touched 
                            && !forgotPassword.controls.EmailAddress?.dirty)) 
                            || (forgotPassword.controls.EmailAddress?.untouched 
                            && formSubmitAttempt)">
                        Please enter email address
                      </div>
                      <div class="form-control-feedback has-danger" 
                      *ngIf="(forgotPassword.controls.EmailAddress?.invalid 
                            && forgotPassword.controls.EmailAddress?.dirty)">
                        Please enter valid email address
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal" (click)="close()">Close</button>
        <button type="submit" class="btn btn-blue "  [disabled]="forgotPassword.invalid && formSubmitAttempt">Submit</button>
      </div>
    </div>
  </div>
</form>

