<div class="box-head-right mt-2">
	<button class="btn btn-sm btn-blue mt-1 " style="float:right" (click)="showConfirm()" data-toggle="modal">Create Portfolio</button>
</div>

<div>
	<table id="table" class="table-bordered table building-management m-0" ng-cloak>
		<thead>
			<tr>
				<th>Portfolio Name</th>
			</tr>
		</thead>
		<tbody *ngFor="let data of rows">
			<tr>
				<td>
					{{ data?.portfolioName }}
				</td>
			</tr>
		</tbody>
	</table>
	<!--<ngx-datatable class="material table"
				   [rows]="rows"
				   [columnMode]="'force'"
				   [headerHeight]="50"
				   [footerHeight]="50"
				   [rowHeight]="'auto'"
				   [externalPaging]="true"
				   [count]="page.totalElements"
				   [offset]="page.pageNumber"
				   [limit]="page.size"
				   (page)='setPage($event)'
				   [externalSorting]="true">

		<ngx-datatable-column [width]="90" [sortable]="true"
							  prop="portfolioName" name="{{ 'Portfolio Name' }}">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<span>
					{{row['portfolioName']}}
				</span>
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column [width]="50" [sortable]="false" name="{{ 'ACTION' }}">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<a title="Edit" id="{{row['portfolioId']}}" class="btn btn-sm"
				   (click)="dataUpdate(row['portfolioId'])">
					<i class="fa fa-edit"></i>
				</a>
			</ng-template>
		</ngx-datatable-column>

	</ngx-datatable>-->
</div>
