<!--BOf Header-->

<header>
  
  <div class="container-fluid">
    <div class="head-left">
      <a id="left-nav" class="nav-link" href="javascript:void(0)" data-toggle="collapse"
         data-target="#menu-content">
        <img src="../../../../assets/images/nav.svg" alt="">

      </a>
      <h1>
        <img src="../../../../assets/images/logo-151.svg" class="logo151" />
        <span class="jbc-logo">
          <img src="../../../../assets/images/logo-jbc.svg" alt="">
          <b>The John Buck Company<i>www.tjbc.com</i></b>
        </span>
      </h1>
    </div>

    <div class="head-right">
      <ul>
        <li class="navigations">
          <a href="javascript:void(0)"><span>12</span><i class="fa fa-bell-o"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <!--EOf Header-->
</header>
